<div class="jumbotron-small">
  <div class="main col-md-12 text-center">
    <h1>BLOG</h1>
  </div>
</div>

<div class="container">
  <% @blog_posts.each do |post| %>
    <div class="row">
      <div class="post">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-date"><%= post.date %></p>
        <%= image_tag(post.cover, class: "img-responsive post-cover") %>
        <p class="post-body text-left"><%= truncate(strip_tags(post.body), length: 500) %></p>
        <%= link_to 'Read More', post, class: "site-link" %>
      </div>
    </div>
  <% end %>
</div>
