<div class="container">
  <br>
	<div class="row">
    <h1>Blog Dashboard</h1>		
	</div>

  <div class="dashboard-view">
	<% @blog_posts.each do |post| %>
	  <div class="row">
	    <div class="post">
	      <h2 class="post-title"><%= post.title %></h2>
	      <p class="post-date"><%= post.date %></p>
		    <%= link_to 'Read', post, class: "btn btn-lg btn-primary" %>
		    <%= link_to 'Edit', edit_blog_post_path(post), class: "btn btn-lg btn-warning" %>
		    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger" %>
		  </div>
	  </div>
	<% end %>
	</div>
</div>
