<%# app/views/projects/show.html.erb %>

<div class="project-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <%= render 'project_header' %>

        <%= render 'project_buttons' %>

        <div class="row">
          <div class="col-12 mt-5 mb-5">
            <%= render 'project_slider' %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= render 'project_info' %>
          </div>
        </div>

        <%= render 'project_images' %>
      </div>
    </div>
  </div>
</div>
