<%# app/views/projects/show.html.erb %>

<div class="project-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-12">
            <h1 class="page-headline">
              <%= @project.title %>
            </h1>

            <p class="technologies">
              <%= top_tech(@project.tech_stack) %>
            </p>

            <div class="p-info">
              <p><%= @project.summary %></p>
            </div>
          <div>
        </div>

        <div class="row">
          <div class="micro-12 col-6">
            <a
              href="<%= @project.site_link %>"
              target="_blank"
              class="site-link top"
            >
              Visit Website
            </a>
          </div>

          <div class="micro-12 col-6">
            <a
              href="<%= @project.repo_link %>"
              target="_blank"
              class="site-link"
            >
              Visit Repo
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5 mb-5">
            <%= render 'project_slider' %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="p-info">
              <h2>About this project</h2>
              <div class="line-break"></div>

              <% @project.description.each do |paragraph| %>
                <p><%= paragraph %></p>
              <% end %>

              <h3>Features</h3>
              <ul className="project-list">
                <% @project.features.each do |feat| %>
                  <li><%= feat %></li>
                <% end %>
              </ul>

              <h3>Tech Stack</h3>
              <ul className="project-list">
                <% @project.tech_stack.each do |tech| %>
                  <li><%= tech %></li>
                <% end %>
              </ul>

              <h3>APIs</h3>
              <ul className="project-list">
                <% @project.apis.each do |api| %>
                  <li><%= api %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Full Page image %>
        <div class="row">
          <div class="col-12">
            <div class="p-info">
              <h2>Desktop</h2>
              <div class="line-break"></div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="project-img">
                  <%= image_tag("griffen-home-page.png", class: "img-fluid") %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            <div class="p-info">
              <h2>Mobile</h2>
              <div class="line-break"></div>
            </div>

            <div class="row justify-content-center">
              <div class="project-img col-sm-6">
                <%= image_tag("griffen-mobile-full.png", class: "img-fluid") %>
              </div>

              <div class="project-img col-sm-6">
                <%= image_tag("griffen-mobile-menu.png", class: "img-fluid") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
