<% @posts.each do |post| %>
  <div class="row">
    <div class="post">
      <h2 class="post-title"><%= post.title %></h2>

      <p class="post-date"><%= post.date %></p>

      <%= image_tag(post.cover, class: "img-responsive post-cover") %>

      <p class="text-left post-body">
        <%= truncate(strip_tags(post.description), length: 500) %>
      </p>

      <a
        href="/blog/<%= post.slug %>"
        class="site-link"
      >
        Read More
      </a>
    </div>
  </div>
<% end %>
