<p id="notice"><%= notice %></p>

<h1>Listing Blog Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_images.each do |blog_image| %>
      <tr>
        <td><%= blog_image.image %></td>
        <td><%= link_to 'Show', blog_image %></td>
        <td><%= link_to 'Edit', edit_blog_image_path(blog_image) %></td>
        <td><%= link_to 'Destroy', blog_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog image', new_blog_image_path %>
