<div class="project-page">
<div class="container">
  <h1 class="page-headline">My Work</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="p-bolt focus-bolt">
        <a href="/work/bolt_network">
          <div class="cover">
            <%= image_tag("bolt-network.svg", class: "img-responsive", id: "bolt-svg") %>
            <%= image_tag("bolt-network-home.png", class: "img-responsive", id: "pirate-pic") %>
          </div>
        </a>
      </div>
      <h3>Bolt Network</h3>
    </div>

    <div class="col-md-6">
      <div class="p-griffen focus-g">
        <a href="/work/griffen">
          <%= image_tag("griffen.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>Griffen Financial</h3>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="p-baldwin focus-baldwin">
        <a href="/work/baldwin">
          <%= image_tag("baldwin.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>At Home with Baldwin Interiors</h3>     
    </div>

    <div class="col-md-6">
      <div class="p-suggestion focus-sugg">
        <a href="/work/suggestion_box">
          <%= image_tag("suggestion_box.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>Suggestion Box</h3>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="p-smm focus-smm">
        <a href="/work/smm">
          <%= image_tag("smm.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>Sherry Matthews Marketing</h3>
    </div>

  </div>
</div>
</div>
