<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Portfolio of Eric Stephenson</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', async: 'async', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'layouts/navbar' %>

  <% if notice or alert %>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>
  <% end %>
  
  <main>
    <%= yield %>
  </main>
  
  <%= render 'layouts/footer' %>
    
</body>
</html>
